header(class="header")
    div(class="display-block container")
        div(class="header_navigation display-block")
            a(class="header_navigation_logo logo" href="#")
                img(src="./img/Logo.png")
            nav(class="header_navigation_list display-block")
                a(class="header_navigation_item header_navigation-activ" href="#") Notifications
                a(class="header_navigation_item" href="#") Unselected tab
                a(class="header_navigation_item" href="#") Unselected tab
                a(class="header_navigation_item" href="#") Unselected tab
        div(class="header_info display-block")         
            div(class="header_bell")
                img(src="./img/bell.png")
            div(class="header_profile display-block")
                img(src="./img/profile.png")        